HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Credential ###
*.env
/logs/application.log
/logs/application-2026-03-11-1.log.gz
/logs/application-2026-03-12-1.log.gz
/logs/application-2026-03-13-1.log.gz
/logs/application-2026-03-14-1.log.gz
/logs/application-2026-03-16-1.log.gz
/logs/application-2026-03-17-1.log.gz
/logs/application-2026-03-19-1.log.gz
/logs/application-2026-03-20-1.log.gz
/logs/application-2026-03-24-1.log.gz
/logs/application-2026-03-25-1.log.gz
/logs/hibernate.log
/logs/hibernate-2026-03-11-1.log.gz
/logs/hibernate-2026-03-12-1.log.gz
/logs/hibernate-2026-03-13-1.log.gz
/logs/hibernate-2026-03-14-1.log.gz
/logs/hibernate-2026-03-17-1.log.gz
/logs/hibernate-2026-03-19-1.log.gz
/logs/hibernate-2026-03-20-1.log.gz
/logs/hibernate-2026-03-25-1.log.gz
/logs/http.log
/logs/http-2026-03-11-1.log.gz
/logs/http-2026-03-12-1.log.gz
/logs/http-2026-03-13-1.log.gz
/logs/http-2026-03-14-1.log.gz
/logs/http-2026-03-16-1.log.gz
/logs/http-2026-03-17-1.log.gz
/logs/http-2026-03-19-1.log.gz
/logs/http-2026-03-20-1.log.gz
/logs/http-2026-03-24-1.log.gz
/logs/http-2026-03-25-1.log.gz
/logs/security.log
/logs/security-2026-03-11-1.log.gz
/logs/security-2026-03-12-1.log.gz
/logs/security-2026-03-13-1.log.gz
/logs/security-2026-03-14-1.log.gz
/logs/security-2026-03-17-1.log.gz
/logs/security-2026-03-19-1.log.gz
/logs/security-2026-03-20-1.log.gz
/logs/security-2026-03-25-1.log.gz
